@charset "UTF-8";

@import "mysite.css";

#gallery {
	margin: 20px auto;
	width: 540px;
	height: 100%;
}

#gallery #gallery-body {
	width: 100%;
	height: 100%;
}

#gallery ul {
	width: 100%;
	overflow: auto;
}

#gallery ul li {
	width: 115px;
	height: 115px;
	float: left;
	position: relative;
	border-style : ridge;
	margin:4px; 
}

#gallery ul li a.image {
	width: 110px;
	height: 110px;
	position: absolute;
	left:50%;
	top:50%;

	background-position: 50%;
	transform: translate(-50%, -50%);
	background-size: cover;
	display: block;
	
}

#gallery ul li a.del-button {
	width: 17px;
	height: 17px;
	position: absolute;
	font-size: 0;
	background-image: url('/mysite03/assets/images/delete-imge.png');
	background-size: cover;
	right: 2px;
	top: 3px;
	z-index: 50;
	display: none;
}

#gallery ul li:hover {
	border-color: red;
	opacity: 1;
	transition: .3s ease;
  	transform: scale(1.1);
}

#gallery ul li:hover a.del-button {
	display: block;
	
}

#gallery-header {
	position: relative;
	width: 100%;
	display: flex;
	height: 100%;
	padding: 0px 0px 10px 0px;
}

#gallery-logo {
	position: relative;
	left: 0px;
	width: 35px;
}

#gallery-title {
	position: relative;
	left: 8px;
	color: #4F4F4F;
}

#upload-image {
	position: absolute;
	right: 0px;
	padding: 10px 15px 10px 15px;
	border: 1px solid #555;
	font-weight: bold;
	background-color: #E8ECF6;
	text-decoration: none;
	color: #111
}

/* 이미지 업로드 팝업 레이어 */
#dialog-upload-form {
	text-align: left;
}

#dialog-upload-form p {
	padding: 20px 0 5px 0;
	font-weight: bold;
	font-size: 1.1em
}

#dialog-upload-form label, #dialog-upload-form input {
	display: block;
}

#dialog-upload-form label {
	font-weight: bold;
	margin-top: 10px;
}

#dialog-upload-form input {
	outline: none;
	margin-top: 5px;
}

#dialog-upload-form input[type='text'] {
	padding: 5px;
	border: 2px solid #A9A9A9;
	width: 260px;
}